# Python
__pycache__/
*.pyc
*.pyo
venv/
.venv/
*.egg-info/
backend/ml_models/*.pkl

# Node
node_modules/
.next/
out/
dist/

# Env
.env
.env.local
.env.production

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
